@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

:root {
  --text-gray: #505d68;
  --text-light-gray: #a1aeb7;
  --vector-gray: #424b5a;
  --border: 1px solid var(--text-gray);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 38px;
  color: var(--text-gray);
}

label {
  color: var(--text-gray);
  font-size: 16px;
  font-weight: 700;
}

select {
  appearance: none;
}

input:disabled {
  background-color: transparent;
  cursor: not-allowed;
}

/* utility */
.container {
  max-width: 1280px;
  margin: 4rem auto 0 auto;
}

.input {
  width: 263px;
  height: 40px;
  padding: 0 0.5rem;
  border-radius: 4px;
}

.hidden {
  display: none !important;
}

.empty {
  margin: 4rem auto;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: #333;
}

/* App styles */

#app .app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 56px;
}

#app .app__header .app__search {
  border: var(--border);
  padding: 10px 12px;
  width: 262px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--vector-gray);
  cursor: not-allowed;
  border-radius: 4px;
}

#app .app__header .app__search input,
#app .app__header .app__search input:focus {
  border: none;
  outline: none;
  font-size: 14px;
}
#app .app__header .app__search i {
  color: var(--vector-gray);
}

#app .app__content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 28px;
  margin-bottom: 4rem;
}
#app .app__content .app__content__input .input__sort {
  margin-bottom: 2rem;
  padding: 2rem;
  border: var(--border);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#app button#load__btn {
  background-color: #424b5a;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 30px;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  margin: auto;
  cursor: pointer;
  transition: all ease 200ms;
}
#app button#load__btn:hover {
  opacity: 0.7;
}
#app button#load__btn:disabled,
#app button#load__btn[disabled] {
  opacity: 0.3;
  cursor: not-allowed;
}

#app .dropdown__container {
  position: relative;
}
#app .dropdown__container i {
  position: absolute;
  top: 12px;
  left: 230px;
}

/* *Mid and High Fi styles go here for the modules */
/* modules */

module-filter #module__filter {
  border: var(--border);
}
module-filter .filter__header {
  color: var(--text-gray);
}

module-audio {
  color: var(--text-gray);
}

module-audio .audio__playback .audio__text__label {
  color: var(--text-light-gray);
}

module-audio .audio__playback .playback__btn {
  background-color: var(--vector-gray) !important;
}

module-audio .audio__playback .audio__details .audio__download i {
  color: var(--text-gray);
}
